# Ignore VSCODE user setup
.vscode

# Ignore private files anf logs like __pycache__
*__*

# Ignore tests directories
tests/pizza/
pizzagz

# Ignore stxxl config build
external/stxxl/build/
external/stxxl/include/stxxl/bits/config.h

# Ignore malloc_count.o
malloc_count.o

# Ignore compiled programs
*.out
repeats

# Ignore fist code tests (In the end this can be deleted)
firstCode.cpp

