# Ignore VSCODE user setup
.vscode

# Ignore private files anf logs like __pycache__
*__*

# Ignore tests directories
tests/pizza/
pizzagz

# Ignore stxxl config build
external/stxxl/build/
external/stxxl/include/stxxl/bits/config.h


